

/* Hide Number Input Arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.preview-scroll-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.preview-scroll-hidden::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
